<a href="https://colab.research.google.com/github/JoDeMiro/PythonCollabExamples/blob/main/Python_Map%2C_Filter%2C_Reduce_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.youtube.com/watch?v=hUes6y2b--0

In [ ]:
import math

In [ ]:
def area(r):
  """Area of a circle with radius"""
  return math.pi * (r**2)

numbers = [2, 5, 7.1, 0.3, 10]

In [ ]:
# Method 1: Direct method

areas = []

for r in numbers:
  a = area(r)
  areas.append(a)

print(areas)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793]

In [ ]:
# Method 2: Use 'map' function

map(area, numbers)

list(map(area, numbers))

# a lényeg, hogy egy függvényt a map első paraméterét, alkalmazza a map második paraméterének ami egy lista minden elemére

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

In [ ]:
temperature = [("Berlin", 29), ("Budapest", 30), ("Cairo", 34), ("Buenos Aires", 40), ("Los Angeles", 25)]

     # Farenheit = (9/5) * Celsius + 32
celsius_to_farenheit = lambda data: (data[0], (9/5)*data[1] + 32)

# Most, hogy megvan a lambda függvényünk alkalmazhatjuk a map függvényen belül

list(map(celsius_to_farenheit, temperature))

[('Berlin', 84.2),
 ('Budapest', 86.0),
 ('Cairo', 93.2),
 ('Buenos Aires', 104.0),
 ('Los Angeles', 77.0)]

In [ ]:
# Filter

import statistics

data = [1.3, 2.7, 0.8, 4,1, 4.3, -0.1]

average = statistics.mean(data)

print(average)

filter(lambda x: x > average, data)

print(list(filter(lambda x: x > average, data)))

print(list(filter(lambda x: x < average, data)))

2.0
[2.7, 4, 4.3]
[1.3, 0.8, 1, -0.1]

In [ ]:
# Filter, Remove missing data

countries = ["", "Argentina", "", "Brazil", "Chile", "", "Columbia", "", "Ecuador", "", "", "Venezuela"]

list(filter(None, countries))

['Argentina', 'Brazil', 'Chile', 'Columbia', 'Ecuador', 'Venezuela']

In [ ]:
# Reduce

from functools import reduce

data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

result = reduce(lambda a,b: a * b, data)

print(result)

6469693230

In [ ]:
# Traditional way

r = 1
for i in data:
  r = r * i

print(r)

6469693230